*.bin
bin/**
*.a
*.o
*.obj
*.elf
*.img
*.log
Makefile
*.in
*.in~
*.so
*.Po
*.tlog
*.Plo
.deps/**
**/.deps/**
autom4te.cache/
.settings
**/Makefile
config.status
configure
*.idb
*.dsp
*.dll
VFLOPPY.*
VFMAKER.*